<!DOCTYPE html>
<html lang="es-cl">
{%load static%}
{%load staticfiles%}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'modulos/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'modulos/css/style_profile.css'%}">
  <link rel="stylesheet" href="{% static 'modulos/js/bootstrap.min.js'%}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://kit.fontawesome.com/dc320c12ea.js"></script>

  <link rel="stylesheet" href="{% static 'modulos/css/style.css">
  
</head>

<body>

{% include "nav.html"%}

  <!-- Carrusel -->
  <section id="Inicio">
    <div class="bd-example ">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'modulos/img/Slider-banner/Rutinas.png'%}" class="d-block w-100 " alt="">
            <div class="carousel-caption  d-md-block">

            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'modulos/img/Slider-banner/Alimentacion.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">

            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'modulos/img/Slider-banner/ejercicios.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">

            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="">
          <h2>Inicio</h2>
          <p class="lead"></p>Calistenia un deporte en donde no necesitaras ningún equipamiento para realizar tus
          entrenamientos.
          Entrena con tu propio peso corporal y obten muy buenos resultos. </p>
          <div class="col-lg-8 mx-auto">
            <img class="img-fluid" src="img/calistenia-1.webp" alt="">
          </div>
        </div>
  </section>


  <br>

  <!-- Utilidades de la página -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Calistenia web</h2>
        <h3 class="section-subheading text-muted">En nuestra página podrás encontrar las siguientes utilidades:</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="col-md-8 col-xs-2 col-lg-8 center">
          <a href="Rutinas.html"> <img class="img-fluid rounded-circle" src="{% static 'modulos/img/img-rutina.jpg'%}"
              alt=""></a>
        </div>
        <h4 class="service-heading">Rutinas de ejercicio</h4>
        <p class="text-muted">En calistenia web podrás encontrar diferentes rutinas que brindará la página y además
          puedes crear tus propias rutinas personalizadas a tu gusto!</p>
      </div>
      <div class="col-md-4">
        <div class="col-md-8 col-xs-2 col-lg-8 center ">
          <a href="Ejercicios.html"> <img class=" img-fluid rounded-circle"
              src="{% static 'modulos/img/Ejercicios.jpg'%}" alt=""></a>
        </div>
        <h4 class="service-heading">Ejercicios</h4>
        <p class="text-muted">En nuestra web podrás encontrar diferentes ejercicios de calistenia para los distintos
          tipos de nivel y grupos musculares que desees entrenar</p>
      </div>
      <div class="col-md-4">
        <div class="col-md-8 col-xs-2 col-lg-8 center">
          <a href="Alimentacion.html"><img class="img-fluid "
              src="{% static 'modulos/img/Alimentacion-saludable.png' %}" alt=""></a>
        </div>
        <h4 class="service-heading">Alimentacion</h4>
        <p class="text-muted">En nuestra página también puedes encontrar información útil sobre alimentación para
          complementar tus rutinas y tener un progreso más exitoso</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {%include "footer.html"%}



  <!-- Scripts -->
  
  </body>

</html>