<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'modulos/css/bootstrap.min.css'%}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/dc320c12ea.js"></script>
    <link href="{% static 'modulos/css/style_profile.css'%}" rel="stylesheet">
    <title>profile</title>
</head>

<body>

    <div class="d-flex" id="wrapper">


        <div class=" border-right bg-dark" id="sidebar-wrapper">
            <div style="color: white;" class="sidebar-heading "> Calistenia web </div>
            <div class="list-group list-group-flush">
                <a href="#" style="color: white;" class="list-group-item list-group-item-action bg-dark">
                    <i class="fas fa-user-edit"></i> Editar perfil</a>
                <a href="#" style="color: white;" class="list-group-item list-group-item-action bg-dark"> <i
                        class="fas fa-dumbbell"></i> Rutinas</a>
                <a href="#" style="color: white;" class="list-group-item list-group-item-action bg-dark"><i
                        class="fas fa-trophy"></i> Puntos</a>
            </div>
        </div>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
                <button class="btn btn-info" id="menu-toggle">Menú</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "index" %}"> <i class="fas fa-home"></i>Inicio <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "index" %}"><i class="fas fa-sign-out-alt"></i>Salir</a>
                        </li>

                    </ul>
                </div>
            </nav>

            <div style="padding-left: 25%;" class="container-fluid">
                <h1 class="mt-4">Editar perfil</h1>
                <form class="form-container col-md-8" id="form-register" method="POST">
                    {% csrf_token %}

                    <!-- NOMBRE -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Nombre:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="{{usuario.first_name}}" name="nombre">
                        </div>
                    </div>

                    <!-- APELLIDO -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Apellido:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="apellido" value="{{usuario.last_name}}">
                        </div>
                    </div>



                    <!-- CORREO ELECTORNICO -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" value="{{usuario.email}}">
                        </div>
                    </div>

                    <br>

                    <div style="padding-left: 20%;">
                        <button type="submit" id="btnRegistrar" class="btn btn-success"> <i class="far fa-save"></i>
                            Guardar cambios</button>
                        <button type="button" class="btn btn-warning"> <i class="fas fa-times-circle"></i> Limpiar
                        </button>
                    </div>
                </form>
            </div>
            <br>
            <hr>



            <div style="padding-left: 25%;" class="container-fluid">
                <h1 class="mt-4">Cambiar contraseña</h1>
                <form action="{% url 'cambiar_clave' %}" class="form-container col-md-8" id="cambiar_clave" method="POST">
                    {% csrf_token %}

                    <!-- CONTRASEÑA -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Contraseña:</label>
                        <div class="col-sm-10">
                            <input class="form-control" required id="clave" type="password" minlength="6" name="contraseña"
                                class=" form-input">

                            <small id="passwordHelpInline" class="text-muted">
                                La contraseña debe tener minimo 6 caracteres
                            </small>
                        </div>
                    </div>

                    <!-- CONTRASEÑA 2 -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Contraseña:</label>
                        <div class="col-sm-10">
                            <input placeholder="Confirmar contraseña" class="form-control"requiered id="clave2" type="password"
                                minlength="6" name="contraseña2" class=" form-input">

                            <small id="passwordHelpInline" class="text-muted">
                                La contraseña debe tener minimo 6 caracteres
                            </small>
                        </div>
                    </div>

                    <br>

                    <div style="padding-left: 20%;">
                        <button type="submit" id="btnRegistrar" class="btn btn-success"> <i class="far fa-save"></i>
                            Guardar cambios</button>
                        <button type="button" class="btn btn-warning"> <i class="fas fa-times-circle"></i> Limpiar
                        </button>
                    </div>
                </form>



            </div>
        </div>

        <hr>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    {%include "footer.html"%}
    <!-- Bootstrap core JavaScript -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="jquery/jquery.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>


</body>

</html>