.label-error {
    color: red;
    width: 300px;
}
.item-menu{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.letra-fuente{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
    padding: 10px;
}


li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.texto-derecha{
    text-align: right;
}

.banner{
    margin-bottom: 50px;
    margin-right: 100px;
}
.altura{
    height: 450px;
    object-fit: cover;
    object-position: center;
}



.center{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    
}

@media (max-width: 576px) {
    .no-xs{
        display: none;
    }
    .margin-top-xs{
        margin-top: 20px;
    }
}
.boton{
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    border: 2px solid #000000;
}
.img-margin-top{
    margin-top: 10px;
}



#logo{
    margin-left: 80px;
}

.form-container{
    background: black;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    color: white
}
.form-input{
    background: transparent;    
    outline: none;
    color: #fff;
    width: 320px;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    
}

.tittle-center{
    margin-left: 30%;

}
.letra-negra{
    color: black;
}
.position{
    padding-top: 80px;
}

.fondo-registro{
    background: url('../img/fondo-login.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.fondo-login{
    background: url('../img/fondo-login.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.img-buton{
    margin-right: 5px;
}


body {
    margin: 0%;
    padding: 0%;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box{
    width: 520px;
    height: 520px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}


.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}



.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}

.login-box input {
width: 100%;
margin-bottom: 20px;

}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.register-box input[type="text"],
.register-box input[type="email"],
.register-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #ffffff;
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.login-box a:hover {
    color: #ffffff
}








