<!DOCTYPE html>
<html lang="es-cl">
{%load static%}
{% load staticfiles %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'modulos/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'modulos/css/style.css'%}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://kit.fontawesome.com/dc320c12ea.js"></script>
  <script src="{% static 'modulos/js/bootstrap.min.css'%}"></script>
  <link rel="stylesheet" href="{% static 'modulos/css/style.css">
  <title>Calistenia</title>
</head>

<body>

 <!-- Barra de navegacion -->
 <!-- Barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
    
            <a class="navbar-brand js-scroll-trigger logo letra-fuente" href=" {% url "index"%} ">Calistenia Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger letra-fuente" href="{% url "index" %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger letra-fuente" href="#">Rutinas</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle letra-fuente" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ejercicios
                      </a>
                      <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item item-menu" href="{% url "espaldaBiceps" %}">Espalda y biceps</a>
                        <a class="dropdown-item item-menu" href="{% url "pechoTriceps" %}">Pectoral y triceps</a>
                        <a class="dropdown-item item-menu" href="#">Abdomen</a>
                        <a class="dropdown-item item-menu" href="#">Piernas y gluteos</a>
                        
                      </div>
                    </li>
                    <li class="nav-item">
                        <a href="Alimentacion.html" class="nav-link letra-fuente">Alimentación</a>
                    </li>
    
                    
    
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                          <a href="{% url "profile"%} " class="nav-link letra-fuente"> <i class="fas fa-user-circle"></i>{{user.username}}</a>
                          
                        </li>
                        <li>
                            <a href="{% url 'cerrar_sesion' %}" class="nav-item">
                                <button class="btn btn-danger btn-sm"> <i class=" img-buton fas fa-sign-in-alt"></i>Cerrar sesión</button>
                            </a>
                        </li>
                        
                        {% else %}
                        <li>
                            <a href="{% url "login" %}" class="nav-item">
                                <button class="btn btn-primary btn-sm"> <i class=" img-buton fas fa-sign-in-alt"></i>Iniciar
                                    sesión</button>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "registro" %}" class="nav-item" id="btn-inicio">
                                <button class="btn btn-success btn-sm"> <i class="img-buton fas fa-user-plus"></i>Registrarse</button>
                            </a>
                        </li>                   
                        {% endif %}
    
                   
                    
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
